.env*.local
.mise.local.toml
src/vite-env.d.ts
.output
.nitro
.vite
.tanstack
node_modules
.DS_Store
.playwright
.vitest-attachments
visual-diffs.html
e2e/.auth
.pnpm-store
.projects
.fallow
pitchfork.local.toml
.vercel*
